/*footer*/
footer {
  text-align: center;
  background-color: #292b2e;
}

.redes-footer {
  height: 5rem;
  text-align: center;
  margin-top: 3rem;
}

.redes-footer a {
  background-color: #b05375;
  color: white;
  margin-top: 1.25rem;
  padding: 0.625rem;
  border-radius: 0.375rem;
  margin-right: 0.625rem;
}

.redes-footer a i {
  margin-top: 2.188rem;
}
