@import "variables";

/*Nav bar*/
.navbarcolor {
  background: $fondo-secundario;
}

.nav-active {
  color: $color-primario-1 !important;
  font-weight: bold;
}

.navbar-light {
  color: $screen-friendly-white;
}

.nav-boton {
  text-align: left;
  padding: 0.375rem 1rem;
  background-color: $color-primario-1;
  border-radius: 3.125rem;
  text-decoration: none;
  width: 8.75rem;
  text-align: center;
  color: $screen-friendly-white;

 &:hover {
color: $color-secundario  !important;
background-color: rgba($color: $color-primario-1, $alpha: 0.32);
}
}



.nav-ultimo {
  padding-right: 2rem;
}

.nav-link:hover {
color: $color-secundario !important;
background-color: rgba($color: $color-primario-1, $alpha: 0.32);
border-radius: 8px;
}
