@import "variables";

/*Porfolio*/

.portfolio-titulo {
  h3 {
    @include h3-personalizado();
    text-align: left;
  }

  h1 {
    @include h1-personalizado();
  }

  p {
    @include p-personalizado;
    width: 50%;
  }
}

.portfolio-link {
  text-align: right;
  margin-bottom: 1.875rem;

  a {
    color: $color-primario-1;
    text-decoration: none;
    font-size: 0.875rem;
  }
}

#grid {
  display: grid;
  grid-template-areas:
    "guiza1 guiza-contenido"
    "welcome-contenido welcome-img"
    "telecentro-img telcentro-contenido";

  grid-template-rows: 290px 290px 290px;
  grid-template-columns: 40% 60%;
  grid-column-gap: 12px;
  grid-row-gap: 40px;
}

#guiza1 {
  grid-area: guiza1;
}

#guiza-contenido {
  grid-area: guiza-contenido;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
}

#guiza-contenido,
#welcome-contenido,
#telcentro-contenido {
  h5 {
    font-size: map-get($mapPorfolio, h5);
    color: $color-primario-1;
    font-weight: bold;
  }

  p {
    font-size: map-get($mapPorfolio, p);
    color: #4b4a4a;
    font-weight: 300;
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    width: 100px;
    height: 40px;
    background-color: $color-primario-1;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: map-get($mapPorfolio, a);
  }

  a:hover {
    color: $color-secundario !important;
  }
}

#welcome-contenido {
  grid-area: welcome-contenido;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
}

#welcome-img {
  grid-area: welcome-img;
}

#telecentro-img {
  grid-area: telecentro-img;
}

#telcentro-contenido {
  grid-area: telcentro-contenido;
  background-color: white;
  border-radius: 1.25rem;
  padding: 2.5rem;
}

.sobremi-svg {
  vertical-align: top;
  padding-left: 0.75rem;
}
