@import "variables";

/*Sobre mi*/

.sobremi-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobremi-img {
  width: 50%;
  margin-top: 2.5rem;
  margin-left: 3.125rem;

  img {
    width: 25.313rem;
    height: 25.313rem;
    border-radius: 50%;
  }
}

.sobremi-titulo {
  width: 60%;

  h3 {
    @include h3-personalizado();
    text-align: left;
  }

  h1 {
    @include h1-personalizado();
  }

  p {
    @include p-personalizado();
  }
}

.sobremi-boton {
  @extend .nav-boton;
  padding: 0.574rem 1.149rem;
  border-radius: 50px;

  &:hover {
    color: $color-secundario !important;
  }
}
