/*Sobre mi*/
.sobremi-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobremi-img {
  width: 50%;
  margin-top: 2.5rem;
  margin-left: 3.125rem;
}

.sobremi-img img {
  width: 25.313rem;
  height: 25.313rem;
  border-radius: 50%;
}

.sobremi-titulo {
  width: 60%;
}

.sobremi-titulo h3 {
  color: white;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 1.25rem;
}

.sobremi-titulo h1 {
  color: #b05375;
  font-weight: bold;
  font-size: 1.625rem;
  margin-top: 1.25rem;
}

.sobremi-titulo p {
  margin-top: 1.7rem;
  margin-bottom: 2rem;
  color: white;
}

.sobremi-boton {
  text-decoration: none;
  color: white;
  background: #b05375;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.574rem 1.149rem;
  border-radius: 50px;
}

.sobremi-boton:hover {
  color: #fab3b7 !important;
}
