@charset "UTF-8";
/*Configurando pagina*/
.contenedor {
  width: 90%;
  max-width: 1296px;
  margin: auto; }

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins"; }

body {
  background-color: #212529; }

.navbarcolor {
  background: #292b2e; }

.nav-active {
  color: #b05375 !important;
  font-weight: bold; }

.navbar-light {
  color: #f1f1f1; }

.nav-boton, .sobremi-boton, .contactame-form form input[type="submit"] {
  text-align: left;
  padding: 0.375rem 1rem;
  background-color: #b05375;
  border-radius: 3.125rem;
  text-decoration: none;
  width: 8.75rem;
  text-align: center;
  color: #f1f1f1; }
  .nav-boton:hover, .sobremi-boton:hover, .contactame-form form input:hover[type="submit"] {
    color: #fab3b7 !important;
    background-color: rgba(176, 83, 117, 0.32); }

.nav-ultimo {
  padding-right: 2rem; }

.nav-link:hover {
  color: #fab3b7 !important;
  background-color: rgba(176, 83, 117, 0.32);
  border-radius: 0.5rem; }

.menu-titulo h3 {
  color: #f1f1f1;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1.25rem; }

.menu-titulo .menu-soy {
  color: #b05375;
  font-weight: bold; }

.menu-titulo h1 {
  color: #b05375;
  font-weight: bold;
  font-size: 1.625rem;
  margin-top: 1.25rem;
  color: white;
  text-align: center; }

.menu-titulo p {
  color: white;
  text-align: center;
  font-size: 0.875rem;
  margin-top: 1rem; }

.menu-titulo .img-soy {
  text-align: center;
  margin-top: 1rem;
  width: 100%; }

.inicio-info {
  display: flex;
  justify-content: center; }

.card-inicio {
  display: flex;
  justify-content: space-around;
  background-color: #292b2e;
  margin: 1.25rem;
  margin-top: 1.05rem;
  width: 17.5rem;
  height: 5rem;
  border-radius: 0.5rem;
  padding: 0.625rem;
  align-items: center; }

.card img {
  width: 20%; }

.info-card {
  vertical-align: center; }

.año-card {
  color: #b05375;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin: 0; }

.pa-info-card {
  color: white;
  margin: 0; }

.sobremi-inicio {
  display: flex;
  justify-content: center;
  align-items: center; }

.sobremi-img {
  width: 50%;
  width: 25.313rem;
  height: 25.313rem;
  margin-top: 1.6rem;
  margin-left: 3.125rem;
  max-width: 100%;
  margin-right: 4rem; }
  .sobremi-img .img-sobremi {
    width: 25.313rem;
    height: 25.313rem;
    border-radius: 50%;
    background-image: url(img/ruotimicaela.png);
    background-size: cover;
    max-width: 100%; }

.sobremi-titulo {
  width: 60%; }
  .sobremi-titulo h3 {
    color: #f1f1f1;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    margin-top: 1.25rem;
    text-align: left; }
  .sobremi-titulo h1 {
    color: #b05375;
    font-weight: bold;
    font-size: 1.625rem;
    margin-top: 1.25rem; }
  .sobremi-titulo p {
    margin-top: 1.7rem;
    margin-bottom: 2rem;
    color: #f1f1f1; }

.sobremi-boton {
  padding: 0.574rem 1.149rem;
  border-radius: 50px; }
  .sobremi-boton:hover {
    color: #fab3b7 !important; }

.sobremi-svg {
  vertical-align: top;
  padding-left: 0.75rem; }

.educacion-titulo h3 {
  color: #f1f1f1;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1.25rem; }

.educacion-titulo h1 {
  color: #b05375;
  font-weight: bold;
  font-size: 1.625rem;
  margin-top: 1.25rem;
  text-align: center; }

.educacion-trabajos {
  display: flex;
  justify-content: space-around;
  margin-top: 1.25rem; }

.card {
  border-radius: 0.625rem;
  background-color: #292b2e;
  margin-right: 1rem; }
  .card img {
    width: 286px;
    border-radius: 0.25rem;
    max-width: 100%; }

.card-body {
  height: 10.625rem; }

.zoom {
  transition: transform 0.2s; }

.zoom:hover {
  transform: scale(1.5); }

.card-title {
  color: #b05375;
  font-weight: bold;
  font-size: 1.125rem;
  text-align: center; }

.card-text {
  color: white;
  font-size: 0.875rem;
  text-align: center; }

.portfolio-titulo h3 {
  color: #f1f1f1;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1.25rem;
  text-align: left; }

.portfolio-titulo h1 {
  color: #b05375;
  font-weight: bold;
  font-size: 1.625rem;
  margin-top: 1.25rem; }

.portfolio-titulo p {
  margin-top: 1.7rem;
  margin-bottom: 2rem;
  color: #f1f1f1;
  width: 50%; }

.portfolio-link {
  text-align: right;
  margin-bottom: 1.875rem; }
  .portfolio-link a {
    color: #fab3b7;
    text-decoration: none;
    font-size: 0.875rem; }
    .portfolio-link a:hover {
      color: #fab3b7 !important; }

.grid {
  display: grid;
  grid-template-areas: "guiza1 guiza-contenido" "welcome-contenido welcome-img" "telecentro-img telcentro-contenido";
  grid-auto-rows: 19rem;
  grid-template-columns: repeat(2, 3fr);
  grid-column-gap: 0.75rem;
  grid-row-gap: 2.5rem; }

.img-guiza, .img-welcome, .img-telecentro {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.25rem; }

.guiza1 {
  grid-area: guiza1; }

.guiza-contenido {
  grid-area: guiza-contenido;
  background-color: #f1f1f1;
  border-radius: 1.25rem;
  padding: 2.5rem; }

.guiza-contenido h5,
.welcome-contenido h5,
.telcentro-contenido h5 {
  font-size: 1.875rem;
  color: #b05375;
  font-weight: bold; }

.guiza-contenido p,
.welcome-contenido p,
.telcentro-contenido p {
  font-size: 0.875rem;
  color: #4b4a4a;
  font-weight: 300;
  margin-bottom: 1.25rem; }

.guiza-contenido a,
.welcome-contenido a,
.telcentro-contenido a {
  text-decoration: none;
  width: 6.25rem;
  height: 2.5rem;
  background-color: #b05375;
  color: #f1f1f1;
  padding: 0.625rem 1.25rem;
  border-radius: 0.375rem;
  font-size: 0.75rem; }

.guiza-contenido a:hover,
.welcome-contenido a:hover,
.telcentro-contenido a:hover {
  color: #fab3b7 !important;
  background-color: #292b2e; }

.welcome-contenido {
  grid-area: welcome-contenido;
  background-color: #f1f1f1;
  border-radius: 1.25rem;
  padding: 2.5rem; }

.welcome-img {
  grid-area: welcome-img; }

.telecentro-img {
  grid-area: telecentro-img; }

.telcentro-contenido {
  grid-area: telcentro-contenido;
  background-color: #f1f1f1;
  border-radius: 1.25rem;
  padding: 2.5rem; }

.contactame {
  display: flex;
  margin-top: 1.8rem;
  justify-content: center; }
  .contactame h4 {
    font-size: 1.25rem;
    color: #b05375;
    margin-bottom: 2.5rem; }

.contactame-iconos {
  padding-left: 0px; }

.contactame-info {
  width: 40%;
  height: 25rem;
  background-color: #292b2e;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  padding: 1.563rem 2.813rem; }
  .contactame-info ul li {
    list-style: none;
    margin-bottom: 2.188rem;
    color: #f1f1f1;
    align-items: center; }
  .contactame-info ul img {
    padding-right: 0.938rem; }

.contactame-form {
  padding: 1.563rem 2.813rem;
  width: 31.25rem;
  height: 25rem;
  background-color: white;
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  font-size: 0.875rem;
  color: #292b2e; }
  .contactame-form form input[type="text"],
  .contactame-form form input[type="email"],
  .contactame-form form textarea {
    width: 100%;
    height: 1.688rem;
    background-color: #f1f1f1;
    border: 0;
    border-radius: 0.313rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    margin-bottom: 1.125rem; }
  .contactame-form form textarea {
    height: 70px; }
  .contactame-form form input[type="submit"] {
    width: 6rem;
    height: 2.438rem;
    padding: 0.563rem 1.25rem;
    border: 0; }
    .contactame-form form input[type="submit"]:hover {
      color: #fab3b7;
      background-color: #292b2e; }

.menu-icon {
  display: none; }

/*footer*/
footer {
  text-align: center;
  background-color: #292b2e; }

.redes-footer {
  height: 5rem;
  text-align: center;
  margin-top: 2.6rem; }
  .redes-footer a {
    background-color: #b05375;
    color: #f1f1f1;
    margin-top: 1.25rem;
    padding: 0.625rem;
    border-radius: 0.375rem;
    margin-right: 0.625rem; }
    .redes-footer a:hover {
      background-color: rgba(176, 83, 117, 0.32); }
  .redes-footer i {
    margin-top: 2.188rem; }

@media (max-width: 480px) {
  .nav-boton-contacto {
    margin-top: 0.625rem; }
  div.container {
    margin-bottom: 0.625rem; }
  .menu-titulo h1 {
    font-size: 1.125rem; }
  .inicio-info {
    flex-direction: column; }
  .navbar-light .navbar-toggler-icon {
    background-image: url("img/bars-solid.svg"); }
  .sobremi-inicio {
    flex-direction: column; }
  .sobremi-img {
    margin: auto;
    width: 21rem;
    height: 21rem;
    margin-top: 1.25rem; }
    .sobremi-img .img-sobremi {
      width: 100%;
      height: 100%; }
  .sobremi-titulo {
    margin-top: 0.625rem;
    width: 100%; }
  .educacion-trabajos {
    flex-direction: column; }
  .card {
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 1.25rem auto; }
  .portfolio-titulo p {
    width: 100%; }
  .portfolio-link {
    margin-top: 1.25rem; }
  .grid {
    grid-template-columns: 100%;
    grid-template-areas: "guiza1" "guiza-contenido" "welcome-img" "welcome-contenido" "telecentro-img" "telcentro-contenido";
    grid-template-rows: 15rem;
    grid-row-gap: 0.3rem; }
    .grid .guiza1 {
      width: 100%;
      height: 100%; }
    .grid .img-guiza {
      width: 100%; }
    .grid .guiza-contenido {
      margin-top: 0.313rem;
      height: 20.625rem; }
    .grid .welcome-img {
      margin-top: 3.438rem;
      width: 100%;
      height: 15rem; }
    .grid .img-welcome {
      width: 100%; }
    .grid .telecentro-img {
      height: 15rem; }
    .grid .img-telecentro {
      margin-top: 1.875rem;
      height: 15rem; }
    .grid .telcentro-contenido {
      height: 23.125rem;
      margin-top: -30px; }
  .contactame {
    flex-direction: column; }
  .contactame-info {
    width: 100%;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    border-bottom-left-radius: 0px;
    height: 16rem;
    padding: 1.25rem 2.438rem; }
  .contactame-form {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 1.25rem;
    padding: 1.25rem 2.438rem; } }

@media only screen and (min-width: 480px) and (max-width: 992px) {
  .nav-boton-contacto {
    margin-top: 0.625rem; }
  div.container {
    margin-bottom: 0.625rem; }
  .menu-titulo h1 {
    font-size: 1.125rem; }
  .navbar-light .navbar-toggler-icon {
    background-image: url("img/bars-solid.svg"); }
  .inicio-info {
    flex-direction: column;
    justify-content: center; }
    .inicio-info .card-inicio {
      margin: 1rem auto; }
  .sobremi-img {
    width: 18rem;
    height: 18rem; }
    .sobremi-img .img-sobremi {
      width: 18rem;
      height: 18rem; }
  .educacion-trabajos {
    flex-direction: column; }
    .educacion-trabajos .card {
      margin: 1.25rem auto; }
  .grid {
    grid-template-columns: 100%;
    grid-template-areas: "guiza1" "guiza-contenido" "welcome-img" "welcome-contenido" "telecentro-img" "telcentro-contenido";
    grid-row-gap: 1rem;
    grid-auto-rows: 18rem;
    grid-template-columns: 100%; }
    .grid .welcome-img, .grid .telecentro-img {
      margin-top: 1.25rem; } }

@media screen and (min-width: 480px) and (max-width: 710px) {
  .sobremi-inicio {
    flex-direction: column; }
  .contactame {
    flex-direction: column; }
    .contactame .contactame-info,
    .contactame .contactame-form {
      width: 90%;
      margin: auto; }
    .contactame .contactame-info {
      border-top-left-radius: 1.25rem;
      border-top-right-radius: 1.25rem;
      border-bottom-left-radius: 0px;
      height: 16rem;
      padding: 1.25rem 2.438rem; }
    .contactame .contactame-form {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 1.25rem;
      padding: 1.25rem 2.438rem; } }
