@import "variables";

//Estilos porfolio

.portfolio-titulo {
  h3 {
    @include h3-personalizado();
    text-align: left;
  }

  h1 {
    @include h1-personalizado();
  }

  p {
    @include p-personalizado;
    width: 50%;
  }
}

.portfolio-link {
  text-align: right;
  margin-bottom: 1.875rem;

  a {
    color: $color-secundario;
    text-decoration: none;
    font-size: 0.875rem;

&:hover {
    color: $color-secundario  !important;
  }
  }
}

.grid {
  display: grid;
  grid-template-areas:
    "guiza1 guiza-contenido"
    "welcome-contenido welcome-img"
    "telecentro-img telcentro-contenido";

  grid-auto-rows: 19rem;
  grid-template-columns: repeat(2, 3fr);
  grid-column-gap: 0.75rem;
  grid-row-gap: 2.5rem;
}

.img-guiza, .img-welcome, .img-telecentro {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 1.25rem;
}

.guiza1 {
  grid-area: guiza1;
}

.guiza-contenido {
  grid-area: guiza-contenido;
  background-color: $screen-friendly-white;
  border-radius: 1.25rem;
  padding: 2.5rem;
}

.guiza-contenido,
.welcome-contenido,
.telcentro-contenido {
  h5 {
    font-size: map-get($mapPorfolio, h5);
    color: $color-primario-1;
    font-weight: bold;
  }

  p {
    font-size: map-get($mapPorfolio, p);
    color: $p-gray;
    font-weight: 300;
    margin-bottom: 1.25rem;
  }

  a {
    text-decoration: none;
    width: 6.25rem;
    height: 2.5rem;
    background-color: $color-primario-1;
    color: $screen-friendly-white;
    padding: 0.625rem 1.25rem;
    border-radius: 0.375rem;
    font-size: map-get($mapPorfolio, a);
  }

  a:hover {
    color: $color-secundario  !important;
      background-color: $fondo-secundario;
  }
}

.welcome-contenido {
  grid-area: welcome-contenido;
  background-color: $screen-friendly-white;
  border-radius: 1.25rem;
  padding: 2.5rem;
}

.welcome-img {
  grid-area: welcome-img;
}

.telecentro-img {
  grid-area: telecentro-img;
}

.telcentro-contenido {
  grid-area: telcentro-contenido;
  background-color: $screen-friendly-white;
  border-radius: 1.25rem;
  padding: 2.5rem;
}


