@import "variables";

//Estilos sobre mi

.sobremi-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobremi-img {
  width: 50%;
    width: 25.313rem;
      height: 25.313rem;
  margin-top: 1.6rem;
  margin-left: 3.125rem;
max-width: 100%;
margin-right: 4rem;

.img-sobremi {
    width: 25.313rem;
    height: 25.313rem;
    border-radius: 50%;
    background-image: url(img/ruotimicaela.png);
    background-size: cover;
   max-width: 100%;
  }
}

.sobremi-titulo {
  width: 60%;

  h3 {
    @include h3-personalizado();
    text-align: left;
  }

  h1 {
    @include h1-personalizado();
  }

  p {
    @include p-personalizado();
  }
}

.sobremi-boton {
  @extend .nav-boton;
  padding: 0.574rem 1.149rem;
  border-radius: 50px;

  &:hover {
    color: $color-secundario !important;
  }
}

.sobremi-svg {
  vertical-align: top;
  padding-left: 0.75rem;
}
